* {
    margin: 0px;
    box-sizing: border-box;
}

.fondo {
    background-color: #f5efff;
    width: 100%;
    height: 100vh;
    display: grid;
    align-items: center;
    justify-content: center;
}

.contenedor {
    
    display: grid;
    justify-items: center;
}

.signup_create {
    margin-top: 30px;
}

.login, .bienvenida {
    /* height: 600px; */
    z-index: 1;
}

.login, .signup {
    background-color:#eaddff;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    padding: 50px;
    text-align: center;
}

.signup {
    display: none;

}

.show {
    display: block;
}

.hide {
    display: none;
}

.bienvenida {
    background-color: #8000f1;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    padding: 80px;
    position: relative;
}

.colores {
    background-color: #eaddff;
    background-color: #8000f1;
    background-color: #f5efff;
}

.circ_login, .circ_bienvenida {
    width: 100px;
    height: 100px;
    border-radius: 50%;    
}

.circ_login {
    background-color: #8000f1;
    position: absolute;
    top:  -50px;
    left: -50px;
}

.circ_bienvenida {
    background-color: #eaddff;
    position: absolute;
    bottom:  -50px;
    right: -50px;
}

.recuadro {
    background-color: #fff;
    opacity: 0.4;
    width: 100%;
    height: 100%;
    border-radius: 30px;
}

.mujer {
    width: 300px;
    position: absolute;
    bottom: 80px;
    right: 0px;
}

.rayo {
    width: 50px;
    position: absolute;
    bottom: 300px;
    left: 55px;
}


.login h1{
    margin-bottom: 10px;
}

.usuario, .password {
    width: 100%;
    height: 30px;
    border-radius: 10px;
    border: none;
    margin-top: 30px;
    padding: 20px;
    padding-left: 40px;
}

.icono_pass, .icono_user {
    width: 25px;
}

.user_input {
    position: relative;
}

.icono_user {
    position: absolute;
    top: 15px;
    left: 5px;
}

.pass_input {
    position: relative;
}

.icono_pass {
    position: absolute;
    top: 15px;
    left: 5px;
}

.boton {
    padding: 20px;
    background-color: #8000f1;
    border:none;
    border-radius: 10px;
    margin-top: 30px;
    margin-bottom: 30px;
    color: #fff;
    font-size: large;
}

.linea {
    width: 100%;
    /* border: 1px #fff solid; */
}

.linea_cont {
    margin-top: 10px;
    margin-bottom: 20px;
    height: 2px;
    /* opacity: 0.5; */
    background-color: rgba(255, 255, 255, 0.5);
}

.others {
    position: relative;
    top: -10px;
    left: 0px;
    background-color:#eaddff;
    padding: 5px;
    cursor: pointer;
}

.google, .facebook {
    width: 30px;
}

.google_cont, .facebook_cont {
    border: 1px solid #fff;
    margin-top: 30px;
    border-radius: 10px;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

a {
    color: #000;
    text-decoration: none;
}

.pnlMsgLoginOk {
    margin-top: 25px;
    color: #01c54c;
    font-weight: bold;
}

.pnlMsgLoginError {
    margin-top: 25px;
    color: #ff0000;
    font-weight: bold;
}

.pnlMsgSignUpOk {
    margin-top: 25px;
    color: #01c54c;
    font-weight: bold;
}

.pnlMsgSignUpError {
    margin-top: 25px;
    color: #ff0000;
    font-weight: bold;
}


@media (max-width: 575.98px) { 
    .contenedor {
        grid-template-columns: repeat(1,1fr);
        width: 100%;
    }
    .bienvenida,.circ_login, .circ_bienvenida {
        display: none;
    }
    .login {
        border-radius: 0px;
    }

 }
